{% extends 'app/base.html' %}


{% block content %}
{% if question %}
    <div class="card text-dark bg-warning mb-3 my-3 mx-2" style="max-width: 250rem;">
        <div class="card-header">Question</div>
        <div class="card-body">
        <p class="card-text">{{question.question}}</p>
        </div>
    </div>
    <h3>Answers are:</h3>
    {% if answer %}
        {% for ans in answer %}
        <div class="card text-dark bg-info mb-3 my-3 mx-2" style="max-width: 250rem;">
            <div class="card-header">Answer</div>
            <div class="card-body">
            <p class="card-text">{{ans.answer}}</p>
            </div>
            <form action="{% url 'like' pk=ans.id %}" method="post">
                {% csrf_token %}
                <div class='row'>
                      <a href="#" >Total_like_count:{{ans.c}}</a>
                    {% if user.is_authenticated %}
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-outline-success me-md-1" type="submit">Like</button>
                        </div>
                    {% endif %}
                </div>
            </form>
        </div>
        {% endfor %}
    {% else %}
    <div class="card text-dark bg-info mb-3 my-3 mx-2" style="max-width: 250rem;">
        <div class="card-header">No Answer Posted Yet</div>
    </div>
    {% endif %}
{% endif %}
{% endblock %}